/* #092635 --- #1B4242 ---#5C8374 ---#9EC8B9*/
body {
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #6c9485;
    overflow: hidden;
    height:100vh;
    width: 100%;
    /* height: auto; */
    margin: 0; 
}

#wrapper{
    width: 30%;
}
.mainbox2 {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y:scroll; 
}


.mainbox {
    /* display: flex;
    position: relative;
    left:10px; */
    /* top: 50px; */
    /* width: 100%; */
    height: auto;
    overflow-x: hidden;
    overflow-y:scroll; 
}
.mainbox div {
    text-align: center;


}
#block1 {
    display: flex;
    position: relative;
    left: 1%;
    /* width: auto;
    height: auto; */
}
#block2 {
    display: flex;
    /* width: auto;
    height: auto; */
}
#inditurval {
    padding: 50px;
    background-color: #72a793;
    border-radius: 8px;
    width: 40%;
    height: auto;
    /* position: relative;
    bottom: 100px;
    left: 10px;
    top: 50px; */
}

#wrapper div, #wrfapper h2{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
h1{
    font-family: Arial, sans-serif;
    font-size: 21px;
    color:#285e5e;
}

h3{
    font-family: Arial, sans-serif;
    font-size: 21px;
    color:rgb(57, 22, 92);
}
#wrapper {
    position: relative;
    /* width: 100%; */
    height: inherit;
    background-color: #3a8a8a;
    border-radius: 10px;
    padding: 10px;
    /* overflow-x: auto; */
    overflow-y:auto; 
    color: white;
}
#result{
    color: white;
    font-weight: 800;
}
#result1{
    color: white;
}
#result2{
    color: white;
    font-weight: 800;
}
#result3{
    color: white;
    font-weight: 800;
}
a{
    font-family: Arial, sans-serif;
    color: black;
    font-weight:bold;
    text-decoration: none;
    text-align: justify;
    height:30px;
    width: 100%;
}
a:hover{
    color: rgb(5, 4, 4);
    background-color:#285e5e;
   
}
input{
    font-size: 23px;
}
label{
    font-size: 22px;
}
#menu-toggle{
    display: none;
}
img {
    width: 250px;
    height: 250px;
    position: relative;
    top: 50px;
    left: 50px;
    border-radius: 9px;
}
button a{
    color: rgb(113, 186, 210);
}
#gotohome {
    text-align: end;
    position: relative;
    right: 100px;
}
#gotohome button {
    margin-top: 20px;
    border-radius: 4px;
    height: 44px;
    font-weight: 600;
    padding: 0 30px;
    letter-spacing: 1px;
    border: none;
    /* background-color:#3a8a8a; */
    background: linear-gradient(45deg, #d0759f, #f14536); /* Reversed gradient on hover */
    color: #102770;
    border: solid 2px white; 
}
#gotohome button:hover{
    background: linear-gradient(45deg, #f14536,#d0759f ); /* Reversed gradient on hover */
    transform: scale(1.05);


}
#gotohome button a:hover{
    background: linear-gradient(45deg, #f14536,#d0759f ); /* Reversed gradient on hover */
    transform: scale(1.05);

}  
.mainbox2 #gotohome button {
    width: auto;
} 
button{
    margin-top: 20px;
    border-radius: 4px;
    height: 44px;
    font-weight: 600;
    padding: 0 30px;
    letter-spacing: 1px;
    border: none;
    background-color: #ffeba7;
    color: #102770;
}
#mm2 {
    background-color: white;
    font-family:"Lora", serif;
    font-size: large;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    position: relative;
    left: 5%;
    width: 40%;
    height: 40%;
}
#mm2 h1{
    text-transform:capitalize;
    font-family:"Lora", serif;
    color:rgb(161, 161, 211);;
}
#inditurval #mm1 {
    background-color: white;
    font-family:"Lora", serif;
    font-size: large; 
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    position: relative;
    left: 5%;
    width: 80%;
    /* height: 40%; */
}
#mm2 p {
    text-align: justify;
    
}

#mm2 ul li{
    text-align:justify;
    position: relative;
    left: 25%;
}


#mm2 p b {
    text-align: center;
}
#mm1 p {
    text-align: justify;
    
}

#mm1 ul li{
    text-align:justify;
    position: relative;
    left: 25%;
}


#mm1 p b {
    text-align: center;
}
#mm1 h1{
    text-transform:capitalize;
    font-family:"Lora", serif;
    color:rgb(161, 161, 211);;
}
#mm2 h1:hover {
    color:rgb(103, 71, 133);
}
#mm1 h1:hover {
    color:rgb(103, 71, 133);
}
input[type="text"]::placeholder, input[type="number"]::placeholder {
    color: #b6b0b0;
}
@media screen and (min-width: 768px) {
    #mm1 {
        display: none;
    }
    .mainbox2 h1 {
        font-family: 'Lora', serif;
        color: lightblue;
        font-size:xx-large;
        text-transform:uppercase;

    }
    .mainbox2 h1:hover {
        
        text-shadow: 6px 6px 6px;
    }
    body button {
        cursor: pointer;
    }
    
}
@media only screen and (max-width: 768px) {
    body {
        display: block;
        height:max-content;
        width: auto;
        overflow-y: visible;
        overflow-x: visible;
    }
    #main-nav {
        display: none;
    } 
    
    body{
        background-color: #6c9485;

    }
    .menu{
        position: relative;
        left: 5px;
    }
    .menu button{
        display: block;
    }
    #menu-toggle { 
        display:contents;
    }
    #menu-toggle img{
        position: relative;
        top: 0;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    #wrapper div, #wrfapper h2{
        font-family: Arial, sans-serif;
    }
    h1{
        font-family: Arial, sans-serif;
        font-size: 18px;
    }
    h2{
        font-family: Arial, sans-serif;
        font-size: 18px;
    }
    #main-nav.active {
        /* position: fix;*/ 
        display:contents;
        overflow: visible;
    } 
    #block1 div {
        padding: 10px;
        background-color: #72a793;
        border-radius: 15px;
        /* width: auto; */
        height: auto;
        position: relative;
        top: 30px;
    }
    #block1 {
        width: auto;
        height:max-content;
    }
    #mm2 {
        display: none;
    }
    /* #mm1 {
        display: contents;
    } */
    #mm1 {
        background-color: white;
        font-family:"Lora", serif;
        font-size: large; 
        text-align: center;
        border-radius: 8px;
        padding: 10px;
        position: relative;
        left: 5%;
        width: 80%%;
        height:max-content;
    }
    #pp {
        position: relative;
        top: 20px;
        width: 90%;
        height: 100%;
        padding: 10px;
    }
    #pp img {
        height: 80%;
        width: 80%;
    }
    input{
        width: auto;
    }
    input[type="color"] {
        width: 20%;
    }
    #wrapper div, #wrfapper h2{
        background-color: #3a8a8a;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        width:fit-content;
        margin: 20px;
        padding: 20px;
        border: 2px solid #50caca;
        border-spacing: 50px;
        border-radius: 8px;
    }
    h1{
        font-family: Arial, sans-serif;
        font-size:small;
        color:#285e5e;

    }
    h3{
        font-family: Arial, sans-serif;
        font-size: 21px;
        color:rgb(57, 22, 92);
    }
    #wrapper {
        position: absolute;
        display:contents;
        width: 100%;
        height: inherit;
        overflow: hidden;
        background-color: #3a8a8a;
        border-radius: 10px;
        padding: 10px;
        color: white;
    } 
    #result{
        color: white;
        font-weight: 800;
    }
    a{
        font-family: Arial, sans-serif;
        color: black;
        font-weight:bold;
        text-decoration: none;
        text-align: justify;
        height:30px;
        width: 100%;
    }
    a:hover{
        color:skyblue;
        background-color:#285e5e;
        padding: 8px;  
        border-radius: 8px;          
    }
    .mainbox2{
        
        overflow-y: visible;
        height: auto;
        display: list-item;
        background-color: #6c9485;
        padding: 5px;
        height: auto;
        width: auto;
    }
    .mainbox2 h1 {
        text-align: center;
        font-family: 'Lora', serif;
        color: lightblue;
        font-size:xx-large;
        text-transform:capitalize;

    }
    .mainbox2 h1:hover {
        
        text-shadow: 6px 6px 6px;
    }
    label{
        font-size: 22px;
    }
    .menu button{
        background-color: #6c9485 ;
    }
    
    button{
        margin-top: 20px;
        border-radius: 4px;
        height: 44px;
        font-weight: 600;
        padding: 0 30px;
        letter-spacing: 1px;
        border: none;
        background-color: #ffeba7;
        color: #102770;
    }
  
}

