body
#dd {
  color: rgb(222, 222, 242);
}
#dd:hover {
  text-shadow: 10px 10px 10px;
  color: rgb(103, 103, 249);
}

#APJ {
  color: rgb(18, 151, 204);
}
#APJ span:hover {
  color: skyblue;
  text-shadow: 6px 6px 6px;
}
.profile-container1 h1 {
  color: rgb(119, 197, 228);
  font-style: italic;
  font-family: "Lora", serif;
}
#sakthi {
  position: relative;
  left: 100px;
}
#head {
  font-family: Georgia, "Times New Roman", Times, serif;
}
#head:hover {
  text-shadow: 6px 6px 6px;
}
h2:hover{
  text-shadow: 6px 6px 6px;
  color: blue;
}


.body{
  height: 1000px;
  font-family: Arial, sans-serif;
  background-color: #2c3038; /* Light background */
  color: #43a8a8; /* Dark text */
  margin: 0;
  padding: 0;
  justify-content: space-between;
  flex-direction: row;
  background-image: initial;
}
  h1 {
    font-family: "Lora", serif;
    font-style: italic;
    text-align: center;
    font-size: 40px;
  }
  .profile-topnav {
    background-color: #575757; /* Dark blue background for nav bar */
    border-bottom: 1px solid #1b4242; /* Dark border bottom */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .name-container {
    margin-left: 10px;
    height: 35px;
  }
  .profile-topnav .name {
    margin-right: auto; /* Pushes the name to the left */
    color: rgb(153, 153, 192);
    font-family: "Lora", serif;
  }
  .name h3:hover {
    text-shadow: 6px 6px 6px;
  }
  h2 {
    color: skyblue;
  }
  .name:hover {
    text-shadow: 6px 6px 6px;
  }
  .name h3 {
    text-transform: capitalize;
    font-family: "Lora", serif;
    font-size: 25px;
    font-weight: 900;
    margin-left: 1rem;
    color: rgb(173, 173, 173);
  }
  .profile-topnav {
    margin: 0;
  }
  .profile-topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .profile-topnav ul li {
    margin-left: 20px;
  }
  
  .profile-topnav ul li a {
    text-decoration: none;
    color: #e2c9c9; /* White text */
    font-size: 12px; /* Smaller font size for links */
    font-style: italic;
    font-weight: 700;
    font-family: Arial, sans-serif;
  }
  .profile-topnav ul li a:hover {
    color: #b46666; /* Lighter color on hover */
  }
  .profile-container {
    text-align: center;
    margin: 10px 25px;
    font-family: "Lora", serif;
  }
  .profile-container1 {
    display: flex;
    margin: 10px 25px;
    text-align: center;
    justify-content: space-around;
    font-family: "Lora", serif;
    font-style: italic;
  }
  /* .btm-container{
      margin: 10px 25px;
  } */
  .maindiv2 {
    text-align: center;
    display: flex;
    justify-content: flex-end;
  }
  .clg {
    position: absolute;
    display: none; /* Hide by default */
  }
  .clg a {
    text-decoration: none;
    color: skyblue;
    font-family: "Lora", serif;
    padding-left: 20px;
  }
  .profile-img {
    border-radius: 50%;
    border: solid 2px skyblue;
    width: 130px;
    height: 130px; 
  }
  .medium-profile-img {
    border-radius: 50%;
    width: 100px; /* Adjusted size for medium profile images */
    height: 100px; /* Adjusted size for medium profile images */
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Added shadow for depth */
  }
  
  span h2 {
    color: skyblue;
  }
  #main22 {
    width: 750px;
    height: 350px;
    border-radius: 10px;
  }
  .bio-data-container {
    height: auto;
    margin: 10px;
    padding: 20px;
    border: 1.5px solid #43a8a8; /* Dark text */
    border-radius: 10px;
    background-color: #2c3038; /* Light background */
    color: #43a8a8; /* Dark text */
  }
  /* Media query for mobile */
  
  